/**
 * Styles for the TeamStatusView directive.
 */

.team-status {
    background-color: #D9D9D9;  // Gray as default
}

.team-status-active,
.team-status-in-air {
    background-color: #FFCC66;  // Orange if only 1
}

.team-status-active.team-status-in-air {
    background-color: #99FF99;  // Green if both
}

.team-status-icon {
    font-size: 12pt;
    padding: 10px;
}
