<div class="panel team-status {{teamStatusCtrl.getTeamColorClasses()}}" ng-show="teamStatusCtrl.shouldShow()">
    <h4>{{teamStatusCtrl.team.id}}: {{teamStatusCtrl.team.name}}</h4>
    <div class="row team-status-telemetry">
        <div title="Latitude in Degrees" class="small-4 columns">
            Lat: {{teamStatusCtrl.team.telemetry.latitude | number : 6}}
        </div>
        <div title="Longitude in Degrees" class="small-4 columns">
            Lon: {{teamStatusCtrl.team.telemetry.longitude | number: 6}}
        </div>
        <div title="Altitude in Feet MSL" class="small-4 columns">
            Alt: {{teamStatusCtrl.team.telemetry.altitude_msl | number: 1}}
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <span class="team-status-icon label" ng-show="teamStatusCtrl.team.on_clock"
                  title="On Mission Clock">
                &#128336;  <!-- CLOCK FACE ONE OCLOCK --!>
            </span>
            <span class="team-status-icon label" ng-show="teamStatusCtrl.team.on_timeout"
                  title="On Timeout">
                &#9208;  <!-- DOUBLE VERTICAL BAR --!>
            </span>
            <span class="team-status-icon label" ng-show="teamStatusCtrl.active"
                  title="Sending Telemtry">
                &#8633;  <!-- LEFTWARDS ARROW TO BAR OVER RIGHTWARDS ARROW TO BAR --!>
            </span>
            <span class="team-status-icon label" ng-show="teamStatusCtrl.team.in_air"
                  title="In Air">
                &#9992;  <!-- AIRPLANE --!>
            </span>
        </div>
    </div>
</div>
