.viewNav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);    /* This centers it */
  top: 10px;
  margin-left: auto;
  margin-right: auto;
}


.viewNav > ul {
  list-style-type: none;
  padding-left: 0;
  height: 50px;
  overflow: hidden;
  background-color: rgba(0 , 0 , 0 , .6);
}


.viewNav > ul > li {
  display: inline-block;
  text-decoration: none;
  height: 100%;
}

.viewNav > ul > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  color: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  transition: .5s;
}


.viewNav > ul > li > a:hover {
  text-decoration: none;
  background-color: #000000;
}