AccessModifierOffset:                           -1
TabWidth:                                       2
UseTab:                                         Never
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentCaseLabels:                               true
