*.pyc
*.swp
*.pickle
/bazel-*
.DS_STORE
package-lock.json
**/node_modules
ground/client/build_commit.txt

/vision/target_generator/*.egg-info/
/vision/target_generator/.installed.cfg
/vision/target_generator/*.egg
/vision/target_generator/pip-log.txt
/vision/target_generator/.venv/
/vision/target_generator/auvsi/*
/vision/target_generator/DATA/train_images/
/vision/target_generator/DATA/train_letter/
/vision/target_generator/DATA/gmap_tiles/
/vision/target_generator/aggdraw/

/vision/shape_classifier/darkflow/bin
/vision/shape_classifier/darkflow/ckpt
/vision/shape_classifier/darkflow/sample_img
/vision/shape_classifier/darkflow/summary
/vision/shape_classifier/darkflow/built_graph
