.DS_STORE
*.JPG
*.pyc
*.swp
*.pickle
mav.parm
mav.tlog
mav.tlog.raw
/bazel-*
/tools/build/bazel-*
package-lock.json
**/node_modules
core

/src/vision/target_generator/*.egg-info/
/src/vision/target_generator/.installed.cfg
/src/vision/target_generator/*.egg
/src/vision/target_generator/pip-log.txt
/src/vision/target_generator/.venv/
/src/vision/target_generator/auvsi/*
/src/vision/target_generator/DATA/train_images/
/src/vision/target_generator/DATA/train_letter/
/src/vision/target_generator/DATA/gmap_tiles/
/src/vision/target_generator/aggdraw/

/src/vision/shape_classifier/darkflow/bin
/src/vision/shape_classifier/darkflow/ckpt
/src/vision/shape_classifier/darkflow/sample_img
/src/vision/shape_classifier/darkflow/summary
/src/vision/shape_classifier/darkflow/built_graph

/src/ground/interface/build_commit.txt
src/ground/interface/build
/downloaded
