.dualField{
    display:block;
    width:50%;
    float:left;
}

.singField{
    display:block;
    width:100%;
    float:left;
}

.fieldVal{
    font-size:22px;
    font-weight:bold;
}

.curVal{
    font-size:16px;
    font-family:Verdana;
    font-weight:normal;
    text-transform:uppercase;
    border-style:ridge;
    border-color:rgba(207, 207, 207, 0.897);
    border-width:4px;
}

.saveButton{
    display: table;
    width: 100%;
}