<div class="row">
  <div class="small-2 columns">
    <div class="row text-center text-middle">
      <h4>Odlc Review</h4>
    </div>

    <hr></hr>

    <div class="row text-center text-middle">
        <div id="odlc-list" class="button-group stacked">
            <button type="button"
                class="odlc-list-item {{odlcReviewCtrl.getOdlcButtonClass(odlc)}}"
                ng-repeat="odlc in odlcReviewCtrl.getReviewOdlcs()"
                ng-click="odlcReviewCtrl.setReviewOdlc(odlc)">
                {{odlc.id}}
            </button>
        </div>
    </div>
  </div>

  <div id="odlc-detail" class="small-3 columns"
       ng-show="odlcReviewCtrl.getReviewOdlc()">
    <div id="odlc-review" class="panel">
        <button type="button" class="success button" ng-click="odlcReviewCtrl.saveReview()">Save and Advance</button>
        <h5>
            <input type="checkbox" ng-model="odlcReviewCtrl.getReviewOdlc().thumbnail_approved">
            Thumbnail Approved
        </h5>
        <h5 ng-show="odlcReviewCtrl.getReviewOdlc().type == 'emergent'">
            <input type="checkbox" ng-model="odlcReviewCtrl.getReviewOdlc().description_approved">
            Emergent Description Approved
        </h5>
    </div>
    <div class="panel">
        <div ng-repeat="detail in odlcReviewCtrl.getReviewOdlcDetails()">
            <h4>{{detail.key}}</h4>
            <h5>{{detail.value}}</h5>
        </div>
    </div>
  </div>

  <div id="odlc-img-holder" class="small-7 columns">
      <div ng-show="odlcReviewCtrl.getReviewOdlc()"
          style="{{odlcReviewCtrl.getOdlcImgStyle()}}"></div>
  </div>
</div>

