.Settings {
    padding-top: calc(60px + 2vw);
    text-align: center;
}

.settings_body {
	text-align: left;
	margin-top: 15px;
	display: inline-block;
}

.ip_address button {
	margin-top: 5px;
}

.ip_inputs input {
    width: 40px;
    height: 25px;
    margin-bottom: 5px;
}