#commandList {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#commandListOverview {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  font-size: 11px;
}

.command_input {
  width: 120px;
  min-width: 120px;
}

.command_row {
  text-align: left;
}

.command_row td:first-child {
  width: 40px !important;
}

.command_row td:nth-child(2) {
  width: 50px !important;
}

.modal-lg {
  max-width: 1200px !important;
}

.add_command_button_wrapper {
  width: 100%;
  text-align: center;
}

.mission_button {
  width: 180px;
  display: inline-block;
  margin-right: 15px;
  margin-top: 10px;
}
