.Sidebar {
  height: 100%;
  overflow: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 150px;
}

.Sidebar .card {
  margin-top: 5px;
  margin-bottom: 10px;
}

.Sidebar table {
  margin-bottom: 0;
}

.panel-expand {
  float: right;
  background: none;
  border: none;
  color: white;
}

.panel-expand:focus {
  outline: 0;
}

.Panel .modal-content {
  background-color: rgba(35, 35, 35, 0.9) !important;
  border-color: #333 !important;
  color: white;
}

.Panel .modal-header {
  border-color: #333 !important;
}

.Panel .close {
  color: white !important;
  text-shadow: none !important;
}

.right {
  position: absolute;
  right: 15px;
}

#missionPlanner {
  font-size: 14px;
}

.scrollbar {
  width: 100%;
  overflow-y: auto;
}

.card .scrollbar {
  max-height: 350px;
}

.modal .scrollbar {
  max-height: 80vh;
}

.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: rgba(100, 100, 100, 0.2);
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgba(200, 200, 200, 0.5);
}

.scrollbar::-webkit-scrollbar-corner {
  background-color: rgba(200, 200, 200, 0.5);
}

#commandListLabelsTable {
  width: 100%;
  text-align: center;
}

#commandList {
  width: 100%;
  text-align: center;
}

.command_row td {
  text-align: center;
  vertical-align: middle;
  color: white;
  white-space: nowrap;
}

.command_row .form-group {
  margin: 0;
  display: inline-block;
}

.command_row select {
  font-size: 14px;
}

#commandListLabels {
  font-weight: bold;
}

.command_row .altitude_input {
  width: 4em;
}

.command_row .line_sep_input {
  width: 4em;
}

.command_row .name_input {
  width: 9em;
}

.command_row .type_select {
  width: 5em;
}
