.Sidebar {
  height: 100%;
  overflow: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 150px;
}

.Sidebar .card {
  margin-top: 5px;
  margin-bottom: 10px;
}

.Sidebar table {
  margin-bottom: 0;
}

.panel-expand {
  float: right;
  background: none;
  border: none;
  color: white;
}

.panel-expand:focus {
  outline: 0;
}

.Panel .modal-content {
  background-color: rgba(35, 35, 35, 0.9) !important;
  border-color: #333 !important;
  color: white;
}

.Panel .modal-header {
  border-color: #333 !important;
}

.Panel .close {
  color: white !important;
  text-shadow: none !important;
}

.right {
  position: absolute;
  right: 15px;
}
