<div class="row">
  <div class="small-12 columns text-center">
    <h1>AUVSI SUAS Competition Server</h1>
    <p ng-if="!missionListCtrl.hasMissions()">
      No missions stored.
    </p>
  </div>
</div>

<div class="row text-center" ng-if="missionListCtrl.hasMissions()">
  <div class="small-3 small-centered columns">
    <ul class="stack button-group text-center">
      <li ng-repeat="mission in missionListCtrl.getMissions()">
        <a href="/#/mission/{{mission.id}}" class="button">Mission {{mission.id}}</a>
      </li>
    </ul>
  </div>
</div>
