.Telemetry {
  z-index: 10;
  margin: 10px;
  font-size: 16px;
}

#full_state {
  display: inline-block;
  font-size: 24px;
  padding-left: 8px;
  padding-right: 8px;
}

#armed_indicator {
  color: #e2c63b;
  font-weight: bold;
}

#state_indicator {
  margin-left: 10px;
  color: #4286f4;
}

.Telemetry td {
  padding-left: 8px;
  padding-right: 8px;
}

#telemetry_important {
  font-size: 24px;
}

#altimeter {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 50px;
  margin: auto;
  height: 500px;
  width: 60px;
}

#altimeterMaxAlt {
  text-align: center;
  width: 100%;
  z-index: 100;
}

#altimeterMinAlt {
  text-align: center;
  position: absolute;
  bottom: 80px;
  width: 100%;
  border-bottom: 1px solid #ffffff;
  z-index: 100;
  margin: auto;
}

#altimeterAltitudeIndicator {
  position: absolute;
  bottom: 80px;
  height: 0px;
  width: 100%;
  background: #007BFF;
}
