.Controls {
  color: white;
}

.Controls .Map {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.Controls .Telemetry {
  background: rgba(0, 0, 0, 0.6)
}

.droneActions
{
  position: absolute;
  bottom: 0px;
  margin: 10px 10px;

  background-color: rgba(0 , 0 , 0 , .6);

  display: flex;
  flex-direction: column;
}

.droneActions > span
{
  margin: 0 10px;
  margin-top: 10px;
}

.buttonArray > button
{
  border-width: 2px;
  border-color: #000000;
  border-radius: 5px;
  border-style: solid;

  margin: 10px 5px;
  padding: auto auto;

  background-color: rgba(0 , 0 , 0 , .6);

  transition: .3s;
}

.buttonArray > button:hover
{
  cursor: pointer;
}


#takeoffButton 
{
  color: #56a54f;
  border-color: #56a54f;
}

#takeoffButton:hover
{
  color: #4e8c48;
  border-color: #4e8c48;
}


#landButton
{
  color: #0ea5d3;
  border-color: #0ea5d3;
}

#landButton:hover
{
  color: #1788aa;
  border-color: #1788aa;
}


#failsafeButton
{
  color: #f4a107;
  border-color: #f4a107;
}

#failsafeButton:hover
{
  color: #ba8016;
  border-color: #ba8016;
}


#throttleCutButton
{
  color: #ff0000;
  border-color: #ff0000;
}

#throttleCutButton:hover
{
  color: #c61515;
  border-color: #c61515;
}