.Controls {
  color: white;
}

.Controls .Map {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.Controls .map-overlay {
  padding: 10px;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.Controls .map-overlay > div{
  position: relative;
  height: 100%;
  width: 100%;
}

.Controls .left-side {
  height: 100%;
  width: 100%;
  position: absolute;
}

.Controls .left-side > div {
  height: 100%;
  position: relative;
}

.Controls .left-side > div div {
  pointer-events: all;
}

.Controls .DroneActions {
  position: absolute;
  bottom: 0;
}

.Controls .right-side {
  height: 100%;
  width: 100%;
  position: absolute;
}

.Controls .right-side > div {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-flow: row-reverse;
}

.Controls .right-side > div div {
  pointer-events: all;
}

.map-infobox {
  color: black;
}