.Controls {
  color: white;
}

.Controls .Map {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.Controls .map-overlay {
  padding: 10px;
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0; 
  pointer-events: none;
}

.Controls .map-overlay>div {
  position: relative;
  height: 100%;
  width: 100%;
}

.Controls .map-overlay>div div {
  pointer-events: all;
}

.Controls .left-side {
  position: absolute;
  padding-top: 50px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Controls .top-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  padding-bottom: 10px;
}

.Controls .bottom-left {
  display: flex;
}

.Controls .right-side {
  position: absolute;
  height: 100%;
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Controls .logo  {
  background-color: rgba(0 , 0 , 0 , .6);
  display: inline-block;
}

.map-infobox {
  color: black;
}

.DroneActions .row+.row {
  margin-top: 5px;
}

.DroneActions input::-webkit-inner-spin-button, 
.DroneActions input::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0;
}

.buttonArray
{
  margin-top: 10px;
}

.buttonArray > button
{
  border-width: 2px;
  border-color: #000000;
  border-radius: 5px;
  border-style: solid;

  padding: auto auto;

  background-color: rgba(0 , 0 , 0 , .6);

  transition: .3s;
}

.buttonArray > button+button
{
  margin-left: 10px;
}

#runMissionButton
{
  color: #56a54f;
  border-color: #56a54f;
}

#runMissionButton:hover
{
  color: #4e8c48;
  border-color: #4e8c48;
}


#takeoffButton 
{
  color: #e9d902;
  border-color: #e9d902;
}

#takeoffButton:hover
{
  color: #ccbe00;
  border-color: #ccbe00;
}


#landButton
{
  color: #0ea5d3;
  border-color: #0ea5d3;
}

#landButton:hover
{
  color: #1788aa;
  border-color: #1788aa;
}


#failsafeButton
{
  color: #f4a107;
  border-color: #f4a107;
}

#failsafeButton:hover
{
  color: #ba8016;
  border-color: #ba8016;
}


#throttleCutButton
{
  color: #ff0000;
  border-color: #ff0000;
}

#throttleCutButton:hover
{
  color: #c61515;
  border-color: #c61515;
}

.buttonArray > button:disabled
{
  color: dimgray !important;
  border-color: dimgray !important;
}
