#controls {
  width: 100%;
  padding: 10px 10px 30px 10px;
}

#controls .PromptButton+.PromptButton {
  margin-left: 5px;
}

#controls .PromptButton+button {
  margin-left: 5px;
}

#controls button+.PromptButton {
  margin-left: 5px;
}

#controls button+button {
  margin-left: 5px;
}

#normalControls {
  float: left;
  padding: 5px;
  display: inline;
}

#stateControls {
  float: right;
  display: inline;
  padding: 5px;
}
