future==0.16.0
MAVProxy==1.6.1
pymavlink==2.2.4
pyserial==3.4
websocket-client==0.44.0
dronekit==2.9.1
dronekit-sitl==3.2.0
Pillow==4.3.0
socketIO-client==0.7.2
python-socketio==1.8.1
Flask==0.12.2
Flask-SocketIO==2.9.2
futures==3.1.1
socketIO-client==0.7.2
numpy==1.13.1
empy==3.3.2
toml==0.9.4
eventlet==0.23.0
protobuf==3.5.2.post1
pyzmq==17.0.0
zmq==0.0.0
