<!-- Main Application Page --!>
<!DOCTYPE html>
{% load staticfiles %}

<html lang="en" ng-app="auvsiSuasApp">

<head>
  <meta charset="utf-8" />

  <!-- Foundation --!>
  <link rel="stylesheet" href="{% static 'foundation/css/foundation.min.css' %}" />
  <link rel="stylesheet" href="{% static 'foundation/css/normalize.css' %}" />
  <script src="{% static 'foundation/js/fastclick.js' %}"></script>
  <script src="{% static 'foundation/js/jquery.js' %}"></script>
  <script src="{% static 'foundation/js/jquery.cookie.js' %}"></script>
  <script src="{% static 'foundation/js/modernizr.js' %}"></script>
  <script src="{% static 'foundation/js/placeholder.js' %}"></script>
  <script src="{% static 'foundation/js/foundation.min.js' %}"></script>
  <script src="{% static 'foundation/js/foundation.abide.js' %}"></script>
  <script src="{% static 'foundation/js/foundation.accordion.js' %}"></script>
  <script src="{% static 'foundation/js/foundation.alert.js' %}"></script>
  <script src="{% static 'foundation/js/foundation.clearing.js' %}"></script>
  <script src="{% static 'foundation/js/foundation.dropdown.js' %}"></script>
  <script src="{% static 'foundation/js/foundation.equalizer.js' %}"></script>
  <script src="{% static 'foundation/js/foundation.interchange.js' %}"></script>
  <script src="{% static 'foundation/js/foundation.joyride.js' %}"></script>
  <script src="{% static 'foundation/js/foundation.magellan.js' %}"></script>
  <script src="{% static 'foundation/js/foundation.offcanvas.js' %}"></script>
  <script src="{% static 'foundation/js/foundation.orbit.js' %}"></script>
  <script src="{% static 'foundation/js/foundation.reveal.js' %}"></script>
  <script src="{% static 'foundation/js/foundation.slider.js' %}"></script>
  <script src="{% static 'foundation/js/foundation.tab.js' %}"></script>
  <script src="{% static 'foundation/js/foundation.tooltip.js' %}"></script>
  <script src="{% static 'foundation/js/foundation.topbar.js' %}"></script>

  <!-- ThreeJS --!>
  <script src="{% static 'threejs/three.js' %}"></script>

  <!-- AngularJS --!>
  <script src="{% static 'angularjs/angular.js' %}"></script>
  <script src="{% static 'angularjs/angular-animate.js' %}"></script>
  <script src="{% static 'angularjs/angular-cookies.js' %}"></script>
  <script src="{% static 'angularjs/angular-resource.js' %}"></script>
  <script src="{% static 'angularjs/angular-route.js' %}"></script>
  <script src="{% static 'angularjs/angular-sanitize.js' %}"></script>
  <script src="{% static 'angularjs/angular-touch.js' %}"></script>

  <!-- AUVSI SUAS --!>
  <link rel="stylesheet" href="{% static 'auvsi_suas/app.css'%}" />
  <link rel="stylesheet" href="{% static 'auvsi_suas/components/mission-map/mission-map.css'%}" />
  <link rel="stylesheet" href="{% static 'auvsi_suas/components/team-status/team-status.css'%}" />
  <link rel="stylesheet" href="{% static 'auvsi_suas/pages/mission-dashboard/mission-dashboard.css'%}" />
  <link rel="stylesheet" href="{% static 'auvsi_suas/pages/mission-list/mission-list.css'%}" />
  <link rel="stylesheet" href="{% static 'auvsi_suas/pages/odlc-review/odlc-review.css'%}" />
  <link rel="stylesheet" href="{% static 'auvsi_suas/pages/evaluate-teams/evaluate-teams.css'%}" />

  <script src="{% static 'auvsi_suas/app.js'%}"></script>
  <script src="{% static 'auvsi_suas/components/settings/settings-service.js'%}"></script>
  <script src="{% static 'auvsi_suas/components/navigation/navigation.js'%}"></script>
  <script src="{% static 'auvsi_suas/components/backend/backend-service.js'%}"></script>
  <script src="{% static 'auvsi_suas/components/units/units-service.js'%}"></script>
  <script src="{% static 'auvsi_suas/components/distance/distance-service.js'%}"></script>
  <script src="{% static 'auvsi_suas/components/mission-scene/mission-scene.js'%}"></script>
  <script src="{% static 'auvsi_suas/components/mission-map/mission-map-controller.js'%}"></script>
  <script src="{% static 'auvsi_suas/components/team-status/team-status-controller.js'%}"></script>
  <script src="{% static 'auvsi_suas/pages/mission-dashboard/mission-dashboard-controller.js'%}"></script>
  <script src="{% static 'auvsi_suas/pages/mission-list/mission-list-controller.js'%}"></script>
  <script src="{% static 'auvsi_suas/pages/odlc-review/odlc-review-controller.js'%}"></script>
  <script src="{% static 'auvsi_suas/pages/evaluate-teams/evaluate-teams-controller.js'%}"></script>

  <title>AUVSI SUAS Server</title>
</head>

<body>

  <!-- Navigation --!>
  <nav class="top-bar" data-topbar role="navigation" ng-controller="NavigationCtrl as navigationCtrl">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/#/">AUVSI SUAS Server</a></h1>
      </li>
    </ul>

    {% verbatim %}
    <section class="top-bar-section">
      <ul class="right" ng-if="navigationCtrl.shouldShowMissionLinks()">
        <li class="has-dropdown">
            <a>Mission</a>
            <ul class="dropdown">
                <li ng-repeat="link in navigationCtrl.getMissionLinks()">
                    <a href="{{link.url}}" odlc="{{link.odlc}}">{{link.text}}</a>
                </li>
            </ul>
        </li>
      </ul>
      <ul class="right">
        <li class="has-dropdown">
            <a>System</a>
            <ul class="dropdown">
                <li ng-repeat="link in navigationCtrl.getLinks()">
                    <a href="{{link.url}}" odlc="{{link.odlc}}">{{link.text}}</a>
                </li>
            </ul>
        </li>
      </ul>
    </section>
    {% endverbatim %}
  </nav>

  <!-- Route specific view --!>
  <div ng-view></div>

  <!-- Init Foundation !-->
  <script>
    $(document).foundation();
  </script>

</body>

</html>
