.MissionPlannerContainer {
  background: rgba(0, 0, 0, 0.6);
  /* flex-grow: 1; */
  margin-top: 10px;
  padding: 10px;
  width: 300px;
}

.MissionPlannerContainer > .missionPlannerHeader {
  display: flex;
  flex-direction: row;
  /* align-items:  center; */
}

.MissionPlannerContainer > .missionPlannerHeader > .nav {
  flex-grow: 1;
}

.MissionPlannerContainer > .missionPlannerHeader > i {
  cursor: pointer;
}

.MissionPlannerContainer .nav-tabs {
  border-color: gray;
}

.MissionPlannerContainer .nav-link:hover {
  border-color: dimgray;
}

.MissionPlannerContainer .nav-link.active {
  color: white;
  border-color: gray;
  background: transparent;
}

.MissionPlannerModal.modal-dialog {
  max-width: none;
  margin-left: 20px;
  margin-right: 20px;
}

.MissionPlannerModal.modal-dialog > .modal-content > .modal-body {
  padding: 0;
  margin: 16px;
  max-height: calc(100vh - 160px);
}

.MissionPlannerModal.modal-dialog > .modal-content > .modal-body > .BigMissionPlanner {
  max-height: inherit;
}

.MissionPlanner {
  z-index: 1050; /*make sortable rows appear in front of Modal*/
  max-height: inherit;
}

.MissionPlanner > .container-fluid, .MissionPlannerContainer .container-fluid {
  padding: 0px;
  max-height: inherit;
  overflow: auto;
}

.MissionPlanner .command-btn {
  margin-top: 10px;
}

.MissionPlanner [class*="col"] {
  max-width: 100%;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 2px;
  padding-right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MissionPlanner .command-column {
  margin: 0px;
  padding: 0px;
}

.MissionPlanner .field-container {
  margin: 0px;
  padding: 6px;
  border: 1px solid dimgray;
}

/* .MissionPlanner .command-column > .row > .field-container {
  border: none;
} */

.MissionPlanner .row, .MissionPlanner.row {
  margin: 0px;
}

.MissionPlanner .command-index {
  width: 2em;
}

.MissionPlanner .command-type {
  width: 6em;
}

.MissionPlanner .delete-btn {
  line-height: 15px;
}

.MissionPlanner .delete-btn > .fa {
  vertical-align: middle;
  pointer-events: none;
}

.MissionPlanner .command-header {
  padding: 4px;
  border: 1px solid dimgray;
}

/* .MissionPlanner .number.input input {
  width: 7em;
} */

.MissionPlanner .number.input input::-webkit-inner-spin-button, 
.MissionPlanner .number.input input::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0;
}

/* Small mission planner */
.SmallMissionPlanner {
  font-size: 11px;
  max-height: 400px;
  color: white;
}

.SmallMissionPlanner .command-btn {
  display: none;
}

.SmallMissionPlanner .name {
  display: none;
}

.SmallMissionPlanner .input {
  display: none;
}

.SmallMissionPlanner [class*="col"] {
  padding-left: 1px;
  padding-right: 1px;
}

.SmallMissionPlanner .command-column {
  padding: 0px;
}

.SmallMissionPlanner .field-container {
  padding: 4px;
}

/* Big mission planner */
.BigMissionPlanner .value {
  display: none;
}

.BigMissionPlanner .command-type {
  width: 7em;
}
