html, body {
  width: 100%;
  height: 100%;
}

button {
  border: 0px;
  margin: 0px;
  padding: 5px;
  color: #FFFFFF;
}

html, body, button, p, h1, h2, h3, h4, h5, a, li {
  font-family: lato;
}

.overlay {
  border-top: 8px solid #333333;
  opacity: 0.85;
  padding: 0px 10px 10px 10px;
}

.noselect {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#title {
  pointer-events: none
}

#logo {
  display: inline-block;

  width: 360px;
  height: 102px;

  padding: 8px 0px 0px 2px;
  margin-top: 30px;
  margin-left: 30px;

  background: url('/css/vector_logo.svg');
  background-size: 360px 102px;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.7);
}

#title_description {
  text-align: center;
  position: relative;
  top: -5px;
}

#left_side {
  position: absolute;
  z-index: 10;
  height: 100%;
  margin: 0px 5px 0px 5px;
  pointer-events: none;
}

#right_side {
  position: absolute;
  display: block;
  width: 100%;
  z-index: 10;
  height: 100%;
  text-align: right;
  pointer-events: none;
}

#bottom {
  position: absolute;
  bottom: 35px;
  display: flex;
}

#map {
  width: 100%;
  height: 100%;
  z-index: 1;
}

#full_state {
  display: inline-block;
  font-size: 50px;
  margin-top: 30px;
  margin-right: 30px;
  background: rgba(0, 0, 0, 0.7);
  padding:8px;
}

#missions {
  display: inline-block;
  font-size: 20px;
  margin-top: 10px;
  margin-right: 30px;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding:8px;
}

#armed_indicator {
  color: #FF6666;
  font-weight:bold;
}

#state_indicator {
  color: #6666FF;
}
