html, body {
  min-width: 800px;
  min-height: 600px;
  width: 100%;
  height: 100%;
}

button {
  border: 0px;
  margin: 0px;
  padding: 5px;
  color: #FFFFFF;
}

html, body, button, p, h1, h2, h3, h4, h5, a, li {
  font-family: lato;
}

.overlay {
  border-top: 8px solid #333333;
  opacity: 0.85;
  padding: 0px 10px 10px 10px;
}

.noselect {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#title {
  background-size: 625px 96px;
  background-repeat: no-repeat;
  width: 625px;
  height: 96px;
  pointer-events: none
}

#logo {
  margin-top: 10px;
  background: url('/css/vector_logo.svg');
  background-size: 240px 68px;
  width: 240px;
  height: 68px;
  display: inline-block;
}

#title_description {
  text-align: center;
  position: relative;
  top: -5px;
}

#left_side {
  position: absolute;
  z-index: 10;
  height: 100%;
  margin: 0px 5px 0px 5px;
  pointer-events: none;
}

#right_side {
  position: absolute;
  display: block;
  width: 100%;
  z-index: 10;
  height: 100%;
  text-align: right;
  pointer-events: none;
}

#bottom {
  position: absolute;
  bottom: 35px;
  display: flex;
}

#map {
  width: 100%;
  height: 100%;
  z-index: 1;
}
