.Sidebar {
  height: 100%;
  overflow: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.Sidebar .card {
  margin-top: 5px;
  margin-bottom: 10px;
}

#waypoints_list {
  padding-left: 15px;
}

.panel-expand {
  float: right;
  background: none;
  border: none;
  color: white;
}

.panel-expand:focus {
  outline: 0;
}

.Panel .card-body .btn, .Panel .modal-body .btn {
  margin-bottom: 5px;
}