.Sidebar {
  height: 100%;
  overflow: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.Sidebar .card {
  margin-top: 5px;
  margin-bottom: 10px;
}

#waypoints_list {
  padding-left: 15px;
}

.panel-expand {
  float: right;
  background: none;
  border: none;
  color: white;
}

.panel-expand:focus {
  outline: 0;
}

.Panel .modal-content {
  background-color: rgba(35, 35, 35, 0.9) !important;
  border-color: #333 !important;
  -webkit-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.9);
  color: white;
}

.Panel .modal-header {
  border-color: #333 !important;
}

.Panel .close {
  color: white !important;
  text-shadow: none !important;
}