.Settings {
  text-align: center;
}

p {
  margin-top: auto;
  font-size: 20px;
}

h1 {
  text-align: center;
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

button {
  display: inline-block;
  width: 300px;
  padding: 10px;
}
