.Map {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.turnOnHM{
  padding: .5em 1em;
	font-size: 16px;
	border-radius: 10px;
}
.buttonPanel{
  display:flex;
  flex-direction:column;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 400px;
  left:10px;
  width: 300px;
  height: 300px;
  background-color:rgba(0,0,0,.5);
}
.heatmap {
  padding-top: 3px;
  background-color:rgba(63, 127, 191, 0.6);
  padding: 10px 10px;
  text-align: center; 
  text-decoration: none;
  font-size: 12px;
  color:white;
  display: inline-block;
  width: 50%;
  border-radius: 10px;
  font-family: 'Verdana', Geneva, sans-serif;
}
.heatmap:hover{
    text-decoration: none;
    box-shadow: 1px 1px 1px 1px lightblue;
}

/*
#map {
  height: 100%;
}
*/
/* Optional: Makes the sample page fill the window.
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
*/
#floating-panel {
  position: relative;
  top: 50px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
#floating-panel {
  background-color: #fff;
  border: 1px solid #999;
  left: 25%;
  padding: 5px;
  position: relative;
  top: 50px;
  z-index: 5;
}
